<ion-view view-title={{ticker}}>
  <div class="bar bar-subheader bar-light">
    <div class="buttons" side="left">
      <div class="button button-clear">
        <h6>{{detailData.Name}}</h6>
      </div>
    </div>
    <h2 class="title button-left button-right">{{priceData.price}}</h2>
    <div class="buttons" side="righ">
      <div class="button button-clear">
        <h6>{{priceData.chg_percent}}%</h6>
      </div>
    </div>
  </div>

  <ion-content class="has-subheader">
    <div class="button-ba">
      <a ng-click="chartViewSelector(1)" ng-class="chartView ===1 ? 'active' : ''" class="button">Day</a>
      <a ng-click="chartViewSelector(2)" ng-class="chartView === 2 ? 'active' : ''" class="button">Week</a>
      <a ng-click="chartViewSelector(3)" ng-class="chartView === 3 ? 'active' : ''" class="button">3m</a>
      <a ng-click="chartViewSelector(4)" ng-class="chartView === 4 ? 'active' : ''" class="button">Year</a>
      <a ng-click="chartViewSelector(5)" ng-class="chartView === 5 ? 'active' : ''" class="button">Max</a>
    </div>
    <img ng-if = "chartView === 1" ng-src = "http://chart.finance.yahoo.com/z?s={{ticker}}&t=1d&q=l&l=on&z=m&a=vm" style="width:100%">
    <img ng-if = "chartView === 2" ng-src = "http://chart.finance.yahoo.com/z?s={{ticker}}&t=5d&q=l&l=on&z=m&a=vm" style="width:100%">
    <img ng-if = "chartView === 3" ng-src = "http://chart.finance.yahoo.com/z?s={{ticker}}&t=3m&q=l&l=on&z=m&a=vm" style="width:100%">
    <img ng-if = "chartView === 4" ng-src = "http://chart.finance.yahoo.com/z?s={{ticker}}&t=1y&q=l&l=on&z=m&a=vm" style="width:100%">
    <img ng-if = "chartView === 5" ng-src = "http://chart.finance.yahoo.com/z?s={{ticker}}&t=my&q=l&l=on&z=m&a=vm" style="width:100%">

    <div class="item item-divider">Market Data</div>
    <div class="row row-center">
      <div class="col">Ask: </div>
      <div class="col">{{detailData.Ask}}</div>
      <div class="col">Bid: </div>
      <div class="col">{{detailData.Bid}}</div>
    </div>
    <div class="row row-center">
      <div class="col">Prev. Close: </div>
      <div class="col">{{detailData.PreviousClose}}</div>
      <div class="col">Open: </div>
      <div class="col">{{detailData.Open}}</div>
    </div>
    <div class="row row-center">
      <div class="col">Day's High: </div>
      <div class="col">{{priceData.day_high}}</div>
      <div class="col">Day's Low: </div>
      <div class="col">{{priceData.day_low}}</div>
    </div>
    <div class="row row-center">
      <div class="col">52wk High: </div>
      <div class="col">{{priceData.year_high}}</div>
      <div class="col">52wk Low: </div>
      <div class="col">{{priceData.year_low}}</div>
    </div>
    <div class="row row-center">
      <div class="col">Volume: </div>
      <div class="col">{{priceData.volume}}</div>
      <div class="col">Avg. Volume: </div>
      <div class="col">{{detailData.AverageDailyVolume}}</div>
    </div>
    <div class="row row-center">
      <div class="col">Market Cap: </div>
      <div class="col">{{detailData.MarketCapitalization}}</div>
      <div class="col">EBITDA: </div>
      <div class="col">{{detailData.EBITDA}}</div>
    </div>
    <div class="row row-center">
      <div class="col">P/E: </div>
      <div class="col">{{detailData.PERatio}}</div>
      <div class="col">EPS: </div>
      <div class="col">{{detailData.EarningsShare}}</div>
    </div>
    <div class="card">
      <div class="item item-divider">

    </div>
  </ion-content>
</ion-view>
